@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(29, 7, 7);
}
.pointer {
  cursor: pointer;
}
#logo {
  width: 200px;
  height: 75px;
  margin-top: 15px;
  position: relative;
  bottom: 10px;
}
.header {
  display: flex;
  justify-content: space-around;
}
.navBar {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style-type: none;
}
.navItems {
  font-weight: 600;
  opacity: 0.8;
  font-family: "Kumbh Sans";
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
}
.navItems:hover {
  opacity: 100%;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
#cart {
  margin-top: 50px;
  position: relative;
  left: 250px;
}
.introPart {
  background-image: url("images/shoes-4345636_1920.jpg");
  margin-top: 30px 20px 0px 20px;
  height: 520px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 6rem;
  font-family: "Playfair";
  text-align: end;
  padding-top: 130px;
}
#stylish {
  position: relative;
  right: 400px;
}
#comfy {
  position: relative;
  right: 100px;
}
.section1 {
  margin: 20px 0px 0px 0px;
}
.article {
  background-color: #f0ebeb;
  padding: 40px;
  margin: 20px 9px 20px 9px;
  text-align: center;
  font-size: 1.2rem;
}
.title {
  font-weight: 800;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
}
.phrase {
  margin-bottom: 10px;
  font-weight: 600;
  font-family: "Kumbh Sans";
}
.article2 {
  font-family: "Kumbh Sans";
}
#discoverBtn {
  padding: 9px;
  margin: 20px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border: 2px solid brown;
}
#discoverBtn:hover {
  background-color: hsl(26, 100%, 55%);
  border-radius: 2px;
}
.commonTitles {
  font-family: "Kumbh Sans";
  font-size: 18px;
}
.insight {
  opacity: 0.8;
  font-family: "Kumbh Sans";
  font-size: 15px;
}
#flexContainer {
  display: flex;
  margin-top: 20px;
}
.flexItem {
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
  gap: 4px;
}
.footer {
  display: flex;
  margin: 30px 0px;
  background-color: #f0ebeb;
  padding: 12px;
}
.footerElement {
  flex: 1;
  margin: 10px;
}
.socialIcons {
  display: inline-flex;
  gap: 15px;
  padding-top: 20px;
}
.topShoes {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 4px solid hsl(26, 100%, 55%);
  padding: 3px;
}
.topShoes:hover {
  filter: opacity(0.6);
}
#topPicks {
  display: flex;
  gap: 10px;
}
.flexShoes {
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
}
.categories {
  text-align: center;
  font-size: 20px;
  font-family: "Kumbh Sans";
  font-weight: 600;
  opacity: 0.7;
  margin-top: 15px;
}
.nextBtn {
  border: none;
  color: white;
  background-color: rgba(19, 1, 1, 0.966);
  font-weight: 600;
  font-family: "Kumbh Sans";
  padding: 9px;
  font-size: 20px;
  margin: 0px 0px 20px 1200px;
}
.nextBtn:hover {
  background-color: hsl(26, 100%, 55%);
}
