@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #808080;
}
#logo {
  width: 200px;
  height: 75px;
  margin-top: 15px;
  position: relative;
  bottom: 10px;
}
.headerFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}
.shoes {
  width: 300px;
  height: 300px;
}
.shoes:hover {
  filter: opacity(80%);
}
.search-container {
  position: relative;
  left: 40%;
}
input[type="text"] {
  width: 300px;
  padding: 12px;
  border-radius: 9px;
  border: 1px solid #808080;
}
.search-icon {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  left: 270px;
  cursor: pointer;
}
.navBar {
  display: flex;
  gap: 50px;
  align-items: center;
  list-style-type: none;
  font-family: "Kumbh Sans";
}
#cart {
  margin-top: 40px;
  position: relative;
  left: 19px;
}
.pointer {
  cursor: pointer;
}
.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px 10px;
  box-sizing: border-box;
}
.sectionTitle {
  text-align: center;
  margin: 30px 0px;
  font-family: "Playfair";
  font-size: 2.5rem;
  color: rgba(44, 12, 12, 0.966);
}
.navItems {
  font-weight: 600;
  opacity: 0.8;
  font-family: "Kumbh Sans";
  padding-top: 35px;
  padding-bottom: 15px;
  border-bottom: 3px solid transparent;
}
.navItems:hover {
  opacity: 100%;
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.orderBtns {
  border: none;
  background-color: rgba(12, 1, 1, 0.815);
  padding: 9px;
  color: #fff;
  font-weight: 600;
  font-family: "Kumbh Sans";
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
}
.orderBtns:hover {
  background-color: hsl(26, 100%, 55%);
}
.shoeName {
  font-family: "Kumbh Sans";
  font-size: 20px;
  font-weight: 500;
}
.price {
  font-family: "Kumbh Sans";
  font-size: 15px;
  font-weight: 600;
  opacity: 0.6;
}
.footer {
  text-align: center;
  opacity: 0.7;
}
#previousBtn {
  border: none;
  color: #fff;
  background-color: rgba(19, 1, 1, 0.966);
  font-weight: 600;
  font-family: "Kumbh Sans";
  padding: 9px;
  font-size: 20px;
  margin: 30px 1200px 20px 20px;
}
#previousBtn:hover {
  background-color: hsl(26, 100%, 55%);
}
.iconMargin {
  margin-right: 10px;
}
.dropDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 100%;
  gap: 5px;
  position: absolute;
  z-index: 2;
  left: 1150px;
  background-color: #cfcdcd;
  padding: 10px;
  max-width: fit-content;
  border-radius: 4%;
  color: black;
  font-family: "Kumbh Sans";
  top: 100px;
}
.display {
  display: none;
}
.trash {
  padding-top: 9px;
  cursor: pointer;
}
#bubble {
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  font-family: "Kumbh Sans";
  font-weight: 500;
  max-width: fit-content;
  border-radius: 20%;
  padding: 1px;
  position: absolute;
  z-index: 2;
  right: 115px;
  top: 17px;
  display: block;
}
.priceSpan {
  padding-left: 4px;
}
.iconSpace {
  position: relative;
  left: 35px;
  cursor: pointer;
}
#missingMatch {
  display: none;
  font-family: "Fairplay";
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 480px) {
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  #logo {
    height: 70px;
    width: 150px;
    margin: 20px 5px 20px 5px;
  }
  .header {
    max-width: 100%;
    width: fit-content;
    padding: 0;
    margin: 0;
  }
  .headerFlex {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .shoes {
    width: 150px;
    height: 150px;
  }
  .shoes:hover {
    filter: opacity(100%);
  }
  .section {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px 0px;
    place-items: center;
  }
  .sectionTitle {
    font-size: 2rem;
  }
  .navItems:hover {
    opacity: 100%;
    border-bottom: 3px solid rgba(12, 1, 1, 0.815);
  }
  #previousBtn {
    margin: 10px 0px 20px 0px;
    position: relative;
    left: 1%;
  }
  #previousBtn:hover {
    background-color: hsl(26, 100%, 55%);
  }
  .search-container {
    max-width: 100%;
    left: 20%;
  }
  input[type="text"] {
    width: 250px;
    padding: 9px;
    border-radius: 9px;
    border: 1px solid #808080;
  }
  .navItems:hover {
    opacity: 100%;
    border-bottom: 3px solid transparent;
  }
  .search-icon {
    left: 220px;
  }
  .navBar {
    gap: 2px;
  }
  .container {
    max-width: 100%;
  }
  .navBar {
    gap: 10px;
  }
  #bubble {
    position: relative;
    right: -25px;
    top: 10px;
  }
  .orderBtns:hover {
    background-color: rgba(12, 1, 1, 0.815);
  }
  .dropDown {
    position: absolute;
    z-index: 2;
    left: 20%;
    background-color: #cfcdcd;
    padding: 10px;
    max-width: fit-content;
    top: 100px;
  }
  .iconSpace {
    position: relative;
    left: 10px;
    cursor: pointer;
  }
}
#missingMatch {
  font-size: 1.5rem;
}
